<% provide :title, 'About' %>
<h1>About</h1>
<br />
<h3>Type-Something is a web application that allows you to record your ideas, notes or anything interesting on the web. It also provides some social networking services such as follow other users.</h3>
<br />
<h3>Have fun!</h3>